.header-box svg,
.header-box img {
  height: var(--lg);
  width: var(--lg);
}

.header-box img {
  height: var(--xl);
  width: var(--xl);
}

.header-box svg {
  color: var(--gray-200);
}

.header-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-box p {
  font-size: var(--sm);
  font-weight: 500;
  color: var(--white);
}

.header-box p.venue {
  text-transform: capitalize;
}

.matchcard {
  border-radius: 1rem;
  width: 100%;
}

.matchcard.light {
  background: var(--primary-light);
}

.matchcard.dark {
  background: var(--primary-dark);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  height: 3rem;
  border-bottom: 1px solid var(--blue-200);
  padding: 0 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.h-sep,
.v-sep {
  width: 0.12rem;
  height: 1rem;
  background: var(--white);
  flex-shrink: 1;
}

.v-sep {
  width: 0.8rem;
  height: 0.12rem;
}

.match-team.away {
  justify-self: flex-end;
}

.match-team.home {
  justify-self: flex-start;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.4rem;
  align-items: center;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.body.fixed-height {
  height: 131px;
}

.match-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.matchscoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.score {
  font-size: var(--xl);
  font-weight: 600;
  color: var(--white);
}

.match-team .logo-bg {
  padding: 0.5rem;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.match-team.show-name {
  display: flex;
  align-items: center;
  gap: var(--xs);
}

.match-team.show-name .team-name {
  display: block;
}

.match-team.show-name.home .team-name {
  order: 1;
}

.match-team.show-name.home .logo-bg {
  order: 2;
}

.match-team .team-name,
.match-team.show-name .team-name {
  display: none;
}

.match-info {
  text-align: center;
}

.match-info .status,
.ex-status {
  font-size: var(--xs);
  font-weight: 500;
  color: var(--secondary-light);
}

.date,
.time {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--white);
}

.date {
  text-transform: capitalize;
}

.date {
  word-break: wrap;
}

.match-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.ex-status,
.preview {
  color: var(--white);
  font-weight: 500;
  font-size: var(--xs);
}

.preview-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview {
  font-weight: 400;
  border: 1px solid var(--gray-200);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  text-transform: uppercase;
  padding: 0.05rem 1rem;
  margin-bottom: 0.3rem;
}

@media only screen and (min-width: 48rem) {
  .match-team.show-name .team-name {
    display: block;
    text-transform: capitalize;
    color: var(--white);
    font-size: var(--base);
    font-weight: 500;
  }
}
