.header-box svg,
.header-box img {
  height: var(--lg);
  width: var(--lg);
}

.header-box img {
  height: var(--xl);
  width: var(--xl);
  border-radius: 50%;
  overflow: hidden;
}

.header-box svg {
  color: var(--gray-200);
}

.header-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-box p {
  font-size: var(--sm);
  font-weight: 500;
  color: var(--white);
}

.header-box p.venue {
  text-transform: capitalize;
}

.matchcard {
  border-radius: 1rem;
  width: 100%;
}

.matchcard.light {
  background: var(--primary-light);
}

.matchcard.dark {
  background: var(--primary-dark);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  height: 3rem;
  border-bottom: 1px solid var(--blue-200);
  padding: 0 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.h-sep,
.v-sep {
  width: 0.12rem;
  height: 1rem;
  background: var(--white);
  flex-shrink: 1;
}

.v-sep {
  width: 0.8rem;
  height: 0.12rem;
}

.match-team.away {
  justify-self: flex-end;
}

.match-team.home {
  justify-self: flex-start;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.4rem;
  align-items: center;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.body.fixed-height {
  height: 131px;
}

.match-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.matchscoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.score {
  font-size: var(--xl);
  font-weight: 600;
  color: var(--white);
  position: relative;
}

.score .penalty {
  font-size: 0.8rem;
  position: absolute;
  top: -0.15rem;
}

.penalty.home {
  left: -0.25rem;
}

.penalty.away {
  right: -0.25rem;
}

.match-team .logo-bg {
  padding: 0.5rem;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
}

.match-team .logo-bg img {
  height: 1.7rem;
  width: 1.7rem;
}

.match-team.show-name {
  display: flex;
  align-items: center;
  gap: var(--xs);
}

.match-team.show-name .team-name {
  display: block;
}

.match-team.show-name.home .team-name {
  order: 1;
}

.match-team.show-name.home .logo-bg {
  order: 2;
}

.match-team .team-name,
.match-team.show-name .team-name {
  display: none;
}

.match-info {
  text-align: center;
}

.match-info .status,
.ex-status {
  font-size: var(--xs);
  font-weight: 500;
  color: var(--secondary-light);
}

.date,
.time {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--white);
}

.date {
  text-transform: capitalize;
}

.date {
  word-break: wrap;
}

.match-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.ex-status,
.preview {
  color: var(--white);
  font-weight: 500;
  font-size: var(--xs);
}

.preview-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview {
  font-weight: 400;
  border: 1px solid var(--gray-200);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  text-transform: uppercase;
  padding: 0.05rem 1rem;
  margin-bottom: 0.3rem;
}

.logo__box {
  position: relative;
  border-radius: 50%;
  background: var(--white);
  padding: var(--xs);
  height: 2rem;
  width: 2rem;
  overflow: hidden;
}

.logo {
  position: relative;
  border-radius: 50%;
  height: auto;
  max-width: 100%;
  height: 1.5rem;
  width: 1.5rem;
  overflow: hidden;
}

.logo img {
  object-fit: contain !important;
  object-position: center !important;
}

.logo.sm {
  height: 1.8rem;
  width: 1.8rem;
}

.logo.md,
.logo.lg,
.logo.xl,
.logo.xxl {
  height: 2.2rem;
  width: 2.2rem;
}

.matchscores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--xxs);
}

.matchscores p,
.matchdate,
.matchlocation {
  font-size: var(--md);
  font-weight: 500;
  color: var(--white);
}

.matchscores p {
  font-family: var(--font-body);
  font-weight: 500;
  font-size: var(--lg);
}

.matchlocation.highlight {
  background: var(--red-500);
  padding: var(--xxs) var(--sm);
  border-radius: var(--xxs);
  font-size: var(--xs);
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
}

.team-form {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: var(--xxs);
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-form.w {
  background: var(--green-500);
}

.team-form.l {
  background: var(--red-500);
}

.team-form.d {
  background: var(--secondary-light);
}

.team-form p {
  color: var(--white);
  text-transform: uppercase;
}

.matchdate p {
  font-family: var(--font-body);
  text-transform: uppercase !important;
  color: var(--white);
}

.match-stat {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  gap: 0.25rem;
}
.match-stat > *:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.match-stat > *:last-child {
  text-align: end;
}

.match-stat p {
  font-family: var(--font-body);
  font-size: var(--base);
  font-weight: 400;
  position: relative;
  padding-bottom: var(--xs);
  text-transform: capitalize;
  color: var(--white);
}

.match-stat > *:nth-child(1)::before,
.match-stat > *:last-child::before {
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  border-radius: 1px;
}

.line {
  height: 6px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 1rem;
  background: #ff7c1f;
}

.line.greater {
  background: #ff7c1f;
}

.line.equal,
.line.less {
  background: #b4b4b4;
}

.line.away {
  left: 0;
  right: unset;
}

.versus {
  height: 2px;
  width: 10px;
  background: var(--white);
}

@media only screen and (min-width: 25rem) {
  .matchscores.xl .score,
  .matchscores.xxl .score,
  .matchscores.iv .score,
  .matchscores.lg .score,
  .matchscores.md .score {
    font-size: var(--lg);
  }
}

@media only screen and (min-width: 36rem) {
  .logo.lg,
  .logo.xl,
  .logo.xxl {
    height: 2.8rem;
    width: 2.8rem;
  }

  .match-team .logo-bg img {
    height: 3rem;
    width: 3rem;
  }
}

@media only screen and (min-width: 48rem) {
  .match-team.show-name {
    width: 100%;
    justify-content: space-between;
  }
  .match-team.show-name .team-name {
    display: block;
    text-transform: uppercase;
    color: var(--white);
    font-size: var(--base);
    font-weight: 500;
  }

  .score .penalty {
    font-size: 0.9rem;
    top: 0.65rem;
  }

  .score .penalty.score-pena {
    top: -0.15rem;
  }

  .penalty.home {
    left: -0.45rem;
  }

  .penalty.away {
    right: -0.45rem;
  }

  .team-form p {
    font-size: var(--md);
  }

  .header-box img {
    height: 1.7rem;
    width: 1.7rem;
  }

  .logo.xl,
  .logo.xxl {
    height: 3.4rem;
    width: 3.4rem;
  }

  .matchscores.xl .score,
  .matchscores.xxl .score,
  .matchscores.iv .score,
  .matchscores.lg .score {
    font-size: var(--xxl);
  }

  .matchscores.xxl .score {
    font-size: var(--xxl);
  }

  .matchscores.xl .score {
    font-size: var(--xl);
  }

  .matchscores.iv .score {
    font-size: var(--iv);
  }
}

@media only screen and (min-width: 60rem) {
  .logo.xxl {
    height: 5rem;
    width: 5rem;
  }

  .matchscores.iv .score {
    font-size: var(--v);
  }
}
