.container {
  min-height: 30rem;
  width: 100%;
  margin-top: 8rem;
  padding: 1.5rem 0;
}

.container h2,
.container h1 {
  font-size: var(--lg);
  font-weight: 500;
  color: var(--primary-dark);
  color: var(--white);
  margin-bottom: var(--base);
}

.container h2 {
  font-size: var(--base);
  margin-bottom: var(--xxs);
}

.container h2 b,
.contact-link {
  font-weight: 700;
}

.contact-link {
  color: var(--secondary-light);
  font-weight: 500;
  display: inline;
  text-decoration: underline;
}

.container p,
.link {
  font-weight: 500;
  color: var(--white);
  font-size: var(--base);
}

.link {
  color: var(--secondary-light);
}

.link:hover {
  text-decoration: underline;
}

.error-search {
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 48rem) {
  .container h2,
  .container h1 {
    font-size: var(--xxl);
  }

  .container h2 {
    font-size: var(--lg);
  }

  .container {
    padding: 4rem 2rem;
    margin-top: 8rem;
  }
}
