.standing-box {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.standing {
  overflow: hidden;
}

.standing table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: var(--sm);
  border: none;
  margin-bottom: 0.5rem;
  color: var(--white);
  min-width: 22.5rem;
}

.standing table,
.standing thead,
.standing tr {
  width: 100%;
}

.standing tr,
.standing thead,
.standing th {
  height: 3rem !important;
  min-height: 3rem !important;
}

.tr td {
  vertical-align: middle;
}

.standing thead,
.standing th {
  text-align: left;
  vertical-align: middle;
}

.standing thead tr > *:first-child,
.standing tbody tr > *:first-child {
  padding-left: 0.5rem;
}
.standing thead tr > *:nth-child(2) {
  padding-left: 1.5rem;
}

.standing thead tr > *:last-child {
  padding-right: 0.5rem;
}

.standing tbody tr > *:nth-child(2) {
  padding-left: 1rem;
}

tr.shade {
  background: var(--blue-500);
}

.img-box {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
}

.standing td.with-child > *:nth-child(1) {
  float: left;
}

.standing td.with-child > *:nth-child(2),
.standing td.with-child > *:nth-child(3) {
  margin-left: 0.5rem;
  display: inline;
  float: left;
  margin-top: 0.25rem;
}

.standing-title {
  font-size: var(--sm);
  font-weight: 500;
  color: var(--secondary-light);
  margin-left: var(--sm);
  margin-top: var(--xxs);
  text-transform: uppercase;
}

.standing td.with-child > *:nth-child(3) {
  display: none;
}

.standing tbody > * {
  border-bottom: 1px solid var(--t-border);
}

.standing th,
.standing td {
  font-size: var(--sm);
  font-weight: 400;
  font-family: var(--font-body);
}

.standing th {
  font-weight: 500;
}

.standing th {
  text-transform: uppercase;
}

.standing thead > * :nth-child(7),
.standing thead > * :nth-child(8),
.standing tbody > * :nth-child(7),
.standing tbody > * :nth-child(8) {
  display: none;
}

.standing-btn {
  text-align: center;
  color: var(--secondary-light);
  text-decoration: underline;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  font-size: var(--sm);
}

@media only screen and (min-width: 36rem) {
  .standing th,
  .standing td {
    font-size: var(--base);
  }

  .standing-title {
    /* font-size: var(--base); */
  }
}

@media only screen and (min-width: 48rem) {
  .standing th,
  .standing td {
    text-align: center;
  }

  .standing th:nth-child(1),
  .standing td:nth-child(1),
  .standing th:nth-child(2),
  .standing td:nth-child(2) {
    text-align: left;
  }

  .standing-title {
    /* font-size: var(--md); */
  }
}

@media only screen and (min-width: 64rem) {
  .standing thead > * :nth-child(7),
  .standing thead > * :nth-child(8),
  .standing tbody > * :nth-child(7),
  .standing tbody > * :nth-child(8) {
    display: table-cell;
  }

  .standing th,
  .standing td {
    text-align: center;
  }

  .standing th:nth-child(1),
  .standing td:nth-child(1),
  .standing th:nth-child(2),
  .standing td:nth-child(2) {
    text-align: left;
  }

  .standing td.with-child.long > *:nth-child(3) {
    display: block;
  }

  .standing td.with-child.long > *:nth-child(2) {
    display: none;
  }
}
