.loading-container {
  min-height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid var(--secondary-light);
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.signout{
  font-family: var(--font-body);
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  background: transparent;
  border: transparent;
  outline: transparent;
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 25rem) {
  .signout{
    font-size: var(--sm);
  }
}

