.gallery {
  margin-top: 8rem;
  padding: var(--xxl) 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.visual {
  position: relative;
  max-width: 100%;
  height: auto;
  column-fill: auto;
  margin-bottom: var(--sm);
  border-radius: var(--sm);
  overflow: hidden;
}

.visual::before {
  display: block;
  padding-top: 100%;
  content: "";
}

@media only screen and (min-width: 36rem) {
  .visual {
    margin-bottom: var(--md);
  }
}

@media only screen and (min-width: 48rem) {
  .visual {
    margin-bottom: var(--lg);
  }
}

@media only screen and (min-width: 64rem) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
